# config rttys
# 	option enabled '0'
# 	option log_level 'info'
# 	option addr_dev ':5912'
# 	option addr_user ':5913'
# 	option token 'your-token'
# 	option local_auth '1'
# 	option password 'your-password'
# 	option allow_origins '0'
# 	option verbose '0'
#
# To use a yaml config file directly:
# 	option conf '/etc/rttys.yaml'
